a{
  color:inherit;
}
.navbar-default{
  border-radius: 0;
  border:none;
}
.center{
  text-align: center;
}
header{
  padding-bottom: 40px;
}
header .center{
  padding:40px 40px 0px 40px;
}
/* Navigation **/
nav ul{
  padding: 0;
  margin-top:15px;
  text-align: center;
}
nav li{
  display:inline;
  margin:10px;
  font-size: 18px;
}
nav h1{
  text-align: center;
  padding:10px;
  padding-bottom: 15px;
}
nav a:hover{
  text-decoration: none;
  color:black;
}
/** End Navigation **/
section{
  padding:100px;
  background-color: #F5F5F5;
}
.brad{
  border-radius: 7.5px;
}
.hometext{
  font-size: 130%;
  padding:2%;
}
/** Footer **/

footer {
    padding: 20px 0;
    padding-top: 25px;
    background-color: #777;
}

footer p {
    text-align: center;
}

footer p img {
    width: 20px;
}

footer p:first-of-type {
    color: white;
    font-size: 150%;
}

footer p:last-of-type {
    color: #b7b7b7;
}
/** End Footer **/
